.Layout {
  @apply min-h-screen relative;
}

.Layout .content {
  @apply px-5 pt-4 sm:p-6 flex flex-row;
  min-height: calc(100vh - 5rem);
}
.Layout .content > * {
  @apply first:w-full;
}

.Layout .spinnerContainer {
  @apply absolute top-1/2 left-1/2;
  transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  .Layout .content {
    padding-bottom: 4.5rem;
  }
}
