.TodosTable .row {
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.3fr 0.2fr;
  align-items: center;
}

.TodosTable .row label {
  @apply w-full text-left pl-4;
}

.TodosTable .row label.done {
  text-decoration: line-through;
}

.TodosTable .row .date {
  @apply hidden sm:flex;
}

.TodosTable td {
  @apply flex justify-center overflow-auto;
}

.TodosTable td::-webkit-scrollbar {
  height: 5px;
  @apply rounded-md;
}

.TodosTable td::-webkit-scrollbar-track {
  @apply rounded-md;
  background: #f1f1f1;
}

/* Handle */
.TodosTable td::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded-md;
}

/* Handle on hover */
.TodosTable td::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.TodosTable td:last-child {
  @apply justify-end;
}

@media (max-width: 640px) {
  .TodosTable .row {
    grid-template-columns: 0.1fr 1fr 0.2fr;
  }
}
