.TodosTable {
  @apply mt-1 sm:mt-2;
}

.TodosTable .row {
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.3fr 0.2fr;
  align-items: center;
}

.TodosTable .row label {
  @apply w-full text-left pl-4;
}

.TodosTable .row label.done {
  text-decoration: line-through;
}

.TodosTable .row .date {
  @apply hidden sm:flex;
}

.TodosTable td {
  @apply flex justify-center overflow-auto;
  @apply first:overflow-hidden last:justify-end last:overflow-hidden;
}

.TodosTable td::-webkit-scrollbar {
  @apply sm:h-1;
}

@media (max-width: 640px) {
  .TodosTable .row {
    grid-template-columns: 0.1fr 1fr 0.2fr;
  }
}
