@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*::-webkit-scrollbar {
  @apply rounded-md h-2 sm:h-3;
}

*::-webkit-scrollbar-track {
  @apply rounded-md;
  background: #f1f1f1;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded-md;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html {
  @apply m-0 p-0;
}

body {
  @apply bg-slate-100 text-gray-800 dark:bg-slate-600 dark:text-slate-100;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
