.Button {
  @apply text-white bg-gradient-to-tl;
  @apply hover:bg-gradient-to-br transition-all;
  @apply p-2 rounded-md w-fit;
  @apply outline-none;
}

.Button:focus {
  transition: all ease-in-out 0.1s;
}

.Button.blue {
  @apply from-blue-700 to-cyan-600;
  @apply hover:from-blue-600 hover:to-cyan-500;
  @apply active:from-blue-800 active:to-cyan-700;
}

.Button.blue:focus {
  box-shadow: 0px 0px 0px 3px rgba(37, 99, 235, 0.4);
}

.Button.red {
  @apply from-red-700 to-orange-600;
  @apply hover:from-red-600 hover:to-orange-500;
  @apply active:from-red-800 active:to-orange-700;
}

.Button.red:focus {
  box-shadow: 0px 0px 0px 3px rgba(220, 38, 38, 0.4);
}

.Button.green {
  @apply from-green-700 to-emerald-600;
  @apply hover:from-green-600 hover:to-emerald-500;
  @apply active:from-green-800 active:to-emerald-700;
}

.Button.blue:disabled,
.Button.red:disabled,
.Button.green:disabled {
  @apply from-slate-500 to-slate-700;
  @apply hover:bg-gradient-to-tl;
}

.Button.green:focus {
  box-shadow: 0px 0px 0px 3px rgba(22, 163, 74, 0.4);
}
